<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: {{pageTitle}}</title> <!--Jinja lee la variable entre dos llaves. Es un hueco para variable-->
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        Aplicación Flask 1
        <nav><br> <a href="http://localhost:5000/index">Home</a> |
            <a href="http://localhost:5000/nuevo">Añadir datos</a> |           
            <a href="http://localhost:5000/modification">Editar datos</a> |
            <a href="http://localhost:5000/delete">Eliminado</a></nav>
    </header>
    <section>
    {% block pageContent%}{% endblock %} <!--hueco para bloque-->
    </section>
    <footer>
        Para consultas llame al 0000 <br><br><br>
        &copy; 2022 - Todos los derechos reservados
    </footer>

</body>
</html>