{% extends "base.html" %}  <!--extends: Contrario a import, se lo lleva a otro sitio -->

{% block pageContent %}
            <h1>Listado de Ingresos-Gastos</h1>
            <h2>Un simulacro de contabilidad</h2>
        
      <!--<p>El servidor está <em>funcionando</em></p>
         Para los saltos de línea se utiliza <br> 
            <em> para ponerlo en cursiva y se puede usar dentro de la misma frase que se está escribiendo
            htmltidy.net
           
        <a href="http://localhost:5000/nuevo">Añadir ingresos y gastos</a>

        <ol attr="valor">
            <li>Elemento de lista 1</li>
            <li>Elemento de lista 2</li>
        </ol> Lista ordenada

        <ul attr="valor">
            <li>Elemento de lista 1</li>
            <li>Elemento de lista 2</li>
        </ul> Lista desordenada -->

            <table border="5">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Cantidad</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in movements %}
                    <!-- Comentario: Repetir las lineas con un for -->
                    <tr> <!-- Comentario: Se indica la posición de cada valor para registro (viene del archivo routes.py) -->
                        <td>{{registro[1]}}</td> <!-- Fecha -->
                        <td>{{registro[2]}}</td> <!-- Descripción -->
                        <td>{{registro[3]}} €</td> <!-- Cantidad-->
                        <td><a href="/delete/{{ registro[0] }}">Eliminar(👋🗑)</a>
                        <a href="/modification/{{ registro[0] }}">Modificar(✍✏)</a></td>
                    </tr>
                    {% endfor %} <!-- Comentario: Final del for -->
                    
                </tbody>
            </table>

       <br> <a href="http://localhost:5000/nuevo">Añadir</a>

{% endblock %}