{% extends "base.html"%}

{% block pageContent %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: Modificación</title>
</head>
<body>
    
    <section>
    <h1>Editar Ingreso o Gasto</h1>
    <p>En construcción entrada de datos</p>
    <a href="http://localhost:5000/index">Volver</a>
    
    </section>
  
</body>
</html>
{% endblock %}