{% extends "base.html"}

{% block pageContent %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: Alta</title>
</head>
<body>
    <header>
        Aplicación Flask 1
    </header>
    <section>-->
    <h1>Alta de Ingreso-Gasto</h1>
    <p>En construcción entrada de datos</p>
    <a href="http://localhost:5000/index">Home</a>
    
    </section>
    <footer>
        Para consultas llame al 0000 <br><br><br>
        &copy; 2022 - Todos los derechos reservados
    </footer>

</body>
</html>-->
{% endblock %}