{% extends "base.html"%}

{% block pageContent %}

    <h1>Alta de Ingreso-Gasto</h1>
    <form action="/nuevo" method="POST"> <!-- Es necesario indicar la ruta en la que estamos rellenando datos e indicar el método que queremos utilizar para enviarlo a index-->
        <label for="date">Fecha:</label><br>
        <input type="date" id="date" name="date" required><br><br>
        
        <label for="description">Concepto:</label><br>
        <input type="text" id="description" name="description" placeholder="Descripción movimiento"><br><br>
        
        <label for="quantity">Importe:</label><br>
        <input type="number" step="0.01" id="quantity" name="quantity" placeholder="00.00 €"><br><br> <!--step es para poner decimales-->
        
        <input type="submit" value="Enviar">
    </form>
    <a href="http://localhost:5000/index">Home</a>
    </section>
    
</body>
</html>
{% endblock %}